
<table style="width:75%">
  <caption>All Users</caption>
    <tr>
      <th>First Name</th>
      <th>Last Name</th>
      <th>E-mail</th>
      <th>Admin?</th>
    </tr>

      <% @users.each do |user| %>
      <tr align="center">
        <td><%= link_to user.firstname, admin_user_path(user) %>
        <td><%= user.lastname %></td>
        <td><%= user.email %></td>
        <td><%= user.admin %></td>
      </tr>
      <% end %>
    </tr>
</table>
<%= link_to 'Create New User', new_admin_user_path %>

<%= paginate @users %>
